accelerate==0.25.0
torchmetrics==1.2.1
transformers>=4.45.0
diffusers>=0.26.0
einops==0.7.0
bitsandbytes==0.39.0
scipy==1.11.1
onnxruntime==1.16.2
opencv-python
fvcore
cloudpickle
omegaconf
basicsr
av